a,p,b,li,ul,strong,p,h1,h2,h3,h4,h5,b{
    font-family: monospace;
}


.fondo{
    width: 100%;
    height: 100%;
    background-image: url("../img/pagina_usuario.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.letra {
    font-family: monospace; /* Definición de la fuente */
    font-size: 250%; /* Definición del tamaño de la fuente */
    font-weight: bold; /* Definición del grosor de la fuente */
    font-style: italic; /* Definición del estilo de la fuente */
}

.card {
 
 max-width: 490px;
 height: 454px;
 border-radius: 20px;
 background: #6acd56;
 position: relative;
 padding: 1.8rem;
 border: 2px solid 6acd56;
 transition: 0.5s ease-out;
 overflow: visible;
}

.card-details {
 color: black;
 height: 100%;
 gap: .5em;
 display: grid;
 place-content: center;
}

.card-button {
 transform: translate(-50%, 125%);
 width: 60%;
 border-radius: 1rem;
 border: none;
 background-color: #018E42;
 color: #fff;
 font-size: 1rem;
 padding: .5rem 1rem;
 position: absolute;
 left: 50%;
 bottom: 0;
 opacity: 0;
 transition: 0.3s ease-out;
}

.text-body {
 color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
 font-size: 1.5em;
 font-weight: bold;
}

/*Hover*/
.card:hover {
 border-color: #6acd56;
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
 transform: translate(-50%, 50%);
 opacity: 1;
}

