/* Global font settings */
html, body, h1 {
    font-family: 'Work Sans', sans-serif;
}

a, p, b, h3, h4, h5, h6 {
    font-family: 'Calibri', sans-serif;
}

.letra2 {
   
    font-size: 150%; /* Definición del tamaño de la fuente */
    font-weight: bold; /* Definición del grosor de la fuente */
    font-style: italic; /* Definición del estilo de la fuente */
}

.letra3 {
   
    font-size: 350%; /* Definición del tamaño de la fuente */
    font-weight: bold; /* Definición del grosor de la fuente */
    font-style: italic; /* Definición del estilo de la fuente */
}

table td,
table th {
    font-family: monospace;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

thead th {
    color: white;
}

.card {
    border-radius: .5rem;
}

.table-scroll {
    border-radius: .5rem;
}

.table-scroll table thead th {
    font-size: 1.25rem;
}
thead {
    top: 0;
    position: sticky;
}

.table-responsive {
    max-height: 400px;
    overflow-x: auto;

}



